  .x{ display: flex;

justify-content: space-around}




.t{text-align: center; }



.e{width: 20%; height: 200px; background-color: red; padding-top: 100px; margin-left: 80%; 
 }

   .tuya{width: 20%; height: 200px; background-color: red;  padding-top: 100px;   text-align: center;    } 


















 div{display: flex; justify-content: space-around; margin-bottom: 30px;}








